<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      th:replace="~{/layout/IndexAdmin :: dynamic(~{:: main})}">
<body>
<main>
    <div class="home-tab">
        <div class="d-sm-flex align-items-center justify-content-between border-bottom">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab"
                       href="#tab1" role="tab"
                       aria-controls="tab1" aria-selected="true">Active Product Detail</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#tab2"
                       aria-controls="tab2" role="tab"
                       aria-selected="false">Product Detail Inactive</a>
                </li>
            </ul>
        </div>
        <div class="tab-content tab-content-basic">
            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1">
                <div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Index Product Detail</li>
                    </ul>
                </div>
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">List Product Detail Active</h4>
                            <div class="row">
                                <div class="col-sm-3">
                                    <a th:href="@{|/mangostore/admin/product-detail/create|}" type="button"
                                       class="btn btn-info btn-lg">Add Product Detail</a>
                                </div>
                                <!--                                <div class="col-sm-7 form-group" style="margin-left: 100px;">-->
                                <!--                                    <form>-->
                                <!--                                        <input type="text" name="keyword" class="form-control" th:value="${keyword}"-->
                                <!--                                               placeholder="Search Name Product"/>-->
                                <!--                                    </form>-->
                                <!--                                </div>-->
                            </div>
                            <div class="table-responsive">
                                <div class="header">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th style="width: 30px">#</th>
                                            <th style="width: 139px">ImagesProduct</th>
                                            <th style="width: 172px">Name</th>
                                            <th style="width: 95px">Material</th>
                                            <th style="width: 95px">Origin</th>
                                            <th style="width: 100px">Describe</th>
                                            <th style="width: 85px">Quantity</th>
                                            <th style="width: 84px">Status</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="content" style="height: 260px">
                                    <table class="table table-hover">
                                        <tbody>
                                        <tr th:each="listProductDetail, stat : ${listProductDetail}">
                                            <td style="width: 30px" th:text="${stat.count}"></td>
                                            <td style="width: 139px">
                                                <img th:src="@{|/image/product/${listProductDetail.imagesProductDetail}|}"
                                                     alt="image" style="width: 116px; height: 132px">
                                            </td>
                                            <td style="width: 172px; word-break: break-all">
                                                <a th:href="@{|/mangostore/admin/product-detail/edit/${listProductDetail.id}|}"
                                                   th:text="${listProductDetail.product.nameProduct + '(' + listProductDetail.size.nameSize + ', ' + listProductDetail.color.nameColor + ')'}"
                                                   style="text-decoration: none">
                                                </a>
                                            </td>
                                            <td style="width: 95px"
                                                th:text="${listProductDetail.material.nameMaterial}"></td>
                                            <td style="width: 95px"
                                                th:text="${listProductDetail.origin.nameOrigin}"></td>
                                            <td style="width: 100px"
                                                th:text="${listProductDetail.describe}"></td>
                                            <td style="width: 85px"
                                                th:text="${listProductDetail.quantity}"></td>
                                            <td style="width: 84px" th:if="${listProductDetail.status == 1}">
                                                <label class="badge badge-success">Is Active</label>
                                            </td>
                                        </tr>
                                        <tr th:if="${listProductDetail.isEmpty()}">
                                            <td colspan="9" style="text-align: center; color: red; font-size: larger;">
                                                Product Detail is entity
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="tab2" role="tabpanel"
                 aria-labelledby="tab2">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">List Product Detail Inactive</h4>
                            <div class="table-responsive">
                                <div class="header">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th style="width: 30px">#</th>
                                            <th style="width: 122px">ImagesProduct</th>
                                            <th style="width: 115px">Name</th>
                                            <th style="width: 70px">Material</th>
                                            <th style="width: 70px">Origin</th>
                                            <th style="width: 70px">Describe</th>
                                            <th style="width: 124px">Quantity</th>
                                            <th style="width: 70px">Status</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="content" style="height: 395px">
                                    <table class="table table-hover">
                                        <tbody>
                                        <tr th:each="listProductDetailInactive, stat : ${listProductDetailInactive}">
                                            <td style="width: 30px" th:text="${stat.count}"></td>
                                            <td style="width: 122px"><img
                                                    th:src="@{|/image/product/${listProductDetailInactive.imagesProductDetail}|}"
                                                    alt="image" style="width: 116px; height: 132px"></td>
                                            <td style="width: 115px; word-break: break-all"
                                                th:text="${listProductDetailInactive.product.nameProduct + '(' + listProductDetailInactive.size.nameSize + ', ' + listProductDetailInactive.color.nameColor + ')'}"></td>
                                            <td style="width: 70px"
                                                th:text="${listProductDetailInactive.material.nameMaterial}"></td>
                                            <td style="width: 70px"
                                                th:text="${listProductDetailInactive.origin.nameOrigin}"></td>
                                            <td style="width: 70px"
                                                th:text="${listProductDetailInactive.describe}"></td>
                                            <td style="width: 124px">
                                                <input type="hidden" name="id" class="idProductDetail"
                                                       th:value="${listProductDetailInactive.id}">
                                                <th:block th:if="${listProductDetailInactive.quantity == 0}">
                                                    <input type="number" style="width: 70px" name="quantity"
                                                           class="quantityNew"
                                                           th:value="${listProductDetailInactive.quantity}">
                                                </th:block>
                                                <th:block th:unless="${listProductDetailInactive.quantity == 0}">
                                                    <input type="text" style="width: 70px" name="quantity"
                                                           class="quantityOld"
                                                           th:value="${listProductDetailInactive.quantity}" readonly>
                                                </th:block>
                                                <button type="submit" th:text="Save" class="btn btn-info"
                                                        onclick="restoreProductDetail(this)"></button>
                                            </td>
                                            <td style="width: 70px" th:if="${listProductDetailInactive.status == 0}">
                                                <label class="badge badge-danger">Stop Working</label></td>
                                        </tr>
                                        <tr th:if="${listProductDetailInactive.isEmpty()}">
                                            <td colspan="9" style="text-align: center; color: red; font-size: larger;">
                                                Product Detail Inactive is entity
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>