<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      th:replace="~{/layout/IndexAdmin :: dynamic(~{:: main})}">
<body>
<main>
    <div class="col-lg-5 grid-margin stretch-card" th:fragment="detailAuthentication">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">List Authentication</h4>
                <div class="table-responsive">
                    <div id="messageAlert" th:if="${message}" th:class="${cssClass}"
                         th:text="${message}"></div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name Account</th>
                            <th>Name Role</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="listAuthentication, stat : ${listAuthentication}">
                            <td th:text="${stat.count}"></td>
                            <td th:text="${listAuthentication.account.fullName}"></td>
                            <td th:text="${listAuthentication.role.name}"></td>
                            <td>
                                <a type="button"
                                   th:href="@{/mangostore/admin/authentication/detail/{id}(id=${listAuthentication.id})}">
                                    <i class="bi bi-eye"></i>
                                </a>
                            </td>
                        </tr>
                        <tr th:if="${listAuthentication.isEmpty()}">
                            <td colspan="9" style="text-align: center; color: red; font-size: larger;">
                                Authentication is entity
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <nav aria-label="Page navigation example" th:if="${listAuthentication.totalPages > 0}">
                <ul class="pagination justify-content-center pagination-sm">
                    <li th:each="i : ${#numbers.sequence(0, listAuthentication.totalPages - 1)}"
                        th:class="${i == page ? 'active' : ''}"
                        class="page-item">
                        <a th:href="@{/mangostore/admin/authentication(page=${i})}" class="page-link"
                           th:text="${i + 1}"></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</main>
</body>
</html>