<div class="footer">
    <div class="container">
        <div class="row">
            <div style="flex-basis: 60%;">
                <h3>Blog</h3>
                <p>Welcome to MangoStore - Your fashion destination!
                    At MangoStore, we take pride in offering a diverse and rich collection of men’s and women’s fashion,
                    from classic shirts to charming dresses, from trendy jeans to sophisticated office attire. Each
                    product at MangoStore is carefully selected to ensure quality and style.
                    MangoStore is not just a place to find quality fashion items; it’s also where you can discover true
                    style inspiration. Visit us to experience the difference and refresh your style every day!</p>
                <br>
                <p>欢迎来到MangoStore - 您的时尚目的地！
                    在MangoStore，我们自豪地为您提供丰富多样的男女时尚系列，从经典衬衫到迷人的连衣裙，从时髦的牛仔裤到精致的办公室装。
                    MangoStore的每一件产品都经过精心挑选，以确保质量和风格。
                    MangoStore不仅仅是一个寻找优质时尚单品的地方；它还是您发现真正的生活风格灵感的地方。
                    来访我们，体验不同之处，每天更新您的风格！</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li>Canifa</li>
                    <li>Marc Fashion</li>
                    <li>Juno</li>
                    <li>The Cosmo</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow me</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Tiktok</li>
                    <li>Instagram</li>
                    <li>Shopee</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="Copyright">Copyright 2023 - By BuiDucMinh</p>
    </div>
</div>