<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      th:replace="~{/layout/IndexClient :: dynamic(~{:: main})}">
<body>
<main>
    <div style="max-width: 1300px;margin: auto;padding-left: 25px;padding-right: 25px;">
        <div style="display: flex;align-items: center;flex-wrap: wrap;justify-content: space-around;">
            <div style="flex-basis: 50%;min-width: 300px;">
                <h1 style="font-size: 50px;line-height: 60px;margin: 25px 0;">Gives you confidence with everyone <br> A
                    New Style!</h1>
                <p>Don't follow trends. Don't make yourself dependent on fashion. <br>
                    Let yourself be the one to decide what you will wear and how you will live.
                </p>
                <a th:href="@{/mangostore/product}"
                   style="display: inline-block; background: #ff523b; color: #fff; padding: 8px 30px; margin: 30px 0; border-radius: 30px; transition: background 0.5s; text-decoration: none">Explore
                    Now &#8594;</a>
            </div>
            <div style="flex-basis: 50%;min-width: 300px;">
                <img th:src="@{|/image/banner.png|}" alt="" style="height: 350px;margin-left: 115px;">
            </div>
        </div>
    </div>
</main>
</body>
</html>