<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      th:replace="~{/layout/IndexClient :: dynamic(~{:: main})}">
<body>
<main>
    <div class="container">
        <div class="row">
            <div class="col-2">
                <h1>Gives you confidence with everyone <br> A New Style!</h1>
                <p>Don't follow trends. Don't make yourself dependent on fashion. <br>
                    Let yourself be the one to decide what you will wear and how you will live.
                </p>
                <a th:href="@{/mangostore/product}" class="btn">Explore Now &#8594;</a>
            </div>
            <div class="col-2">
                <img th:src="@{|/image/banner.png|}" alt="" style="height: 441px;margin-left: 170px;">
            </div>
        </div>
    </div>
</main>
</body>
</html>