<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      th:replace="~{/layout/IndexClient :: dynamic(~{:: main})}">
<body>
<main class="voucherShopPage">
    <div class="container">
        <div style="height: 527px;">
            <th:block th:if="${listVoucher != null}">
                <h5 style="margin-right: 1020px;width: 231px;">List Voucher Shop</h5>
                <div class="container mt-4">
                    <div class="row">
                        <th:block th:each="listVoucher : ${listVoucher}">
                            <div class="col-md-6">
                                <div class="card mb-4">
                                    <div class="row g-0">
                                        <div class="col-md-3">
                                            <i class="bi bi-receipt-cutoff"
                                               style="font-size: 81px; margin-left: 12px;"></i>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="card-body">
                                                <h5 class="card-title" th:text="${listVoucher.nameVoucher}"
                                                    style="margin-right: 193px; width: 290px;"></h5>
                                                <p class="card-text"
                                                   th:text="${'Decrease to: ' + #numbers.formatDecimal(listVoucher.reducedValue, 0, 'COMMA', 0, 'POINT') + ' VND'}"
                                                   style="margin-right: 83px; white-space: nowrap;"></p>
                                                <p class="card-text">
                                                    <small class="text-muted" th:text="${voucherValidity}"
                                                           style="margin-right: 131px;"></small>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-2 d-flex align-items-center justify-content-center">
                                            <input type="hidden" id="checkLogin"
                                                   th:value="${profile != null ? 'profile' : 'null'}">
                                            <button type="button" class="btn btn-primary addVoucherButton"
                                                    th:data-voucher-id="${listVoucher.id}">
                                                <i class="bi bi-plus-circle-fill"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
            </th:block>
            <th:block th:unless="${listVoucher != null}">
                <div class="alert alert-danger">
                    <strong>Danger!</strong> This alert box could indicate a dangerous or potentially negative action.
                </div>
            </th:block>
        </div>
    </div>
</main>
</body>
</html>