<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      th:replace="~{/layout/IndexAdmin :: dynamic(~{:: main})}">
<body>
<main>
    <div class="home-tab">
        <div class="d-sm-flex align-items-center justify-content-between border-bottom">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab"
                       href="#tab1" role="tab"
                       aria-controls="tab1" aria-selected="true">Active Material</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#tab2"
                       aria-controls="tab2" role="tab"
                       aria-selected="false">Material Inactive</a>
                </li>
            </ul>
        </div>
        <div class="tab-content tab-content-basic">
            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1">
                <div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/mangostore/admin/material}">Index Material</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Detail Material</li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-lg-5 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Detail Material</h4>
                                <div class="table-responsive">
                                    <div class="form-group">
                                        ID Material: <span style="color: red">[[${detailMaterial.getId()}]]</span>
                                    </div>
                                    <div class="form-group">
                                        Code Material: <span
                                            style="color: red;">[[${detailMaterial.getCodeMaterial()}]]</span>
                                    </div>
                                    <div class="form-group">
                                        Name Material: <span
                                            style="color: red">[[${detailMaterial.getNameMaterial()}]]</span>
                                    </div>
                                    <div class="form-group">
                                        User Create: <span
                                            style="color: red">[[${detailMaterial.getNameUserCreate()}]]</span>
                                    </div>
                                    <div class="form-group">
                                        User Update: <span
                                            style="color: red">[[${detailMaterial.getNameUserUpdate()}]]</span>
                                    </div>
                                    <div class="form-group">
                                        Date Create: <span
                                            style="color: red">[[${detailMaterial.getDateCreate()}]]</span>
                                    </div>
                                    <div class="form-group">
                                        Date Update: <span
                                            style="color: red">[[${detailMaterial.getDateUpdate()}]]</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 grid-margin stretch-card" id="async-detail-container">
                        <div class="container light-style flex-grow-1 container-p-y">
                            <h4 class="font-weight-bold py-3 mb-4">
                                Update Material, [[${detailMaterial.getNameMaterial()}]]
                            </h4>
                            <form th:action="@{/mangostore/admin/material/update}" th:object="${detailMaterial}"
                                  method="post"
                                  onsubmit="return update()">
                                <input type="hidden" th:field="*{id}" th:value="${detailMaterial.id}">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-label">Code Material</label>
                                            <input type="text"
                                                   class="form-control"
                                                   name="codeMaterial" th:field="*{codeMaterial}" readonly/>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <label class="form-label">Name Material</label>
                                            <input type="text"
                                                   class="form-control"
                                                   name="nameMaterial" th:field="*{nameMaterial}"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-label">Status</label>
                                            <select name="status" class="custom-select">
                                                <option value="1" th:selected="${detailMaterial.status == 1}">
                                                    Is Active
                                                </option>
                                                <option value="0" th:selected="${detailMaterial.status == 0}">
                                                    Stop Working
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-right mt-3">
                                    <button type="submit" class="btn btn-primary">Save As</button>&nbsp;
                                    <a th:href="@{/mangostore/admin/material/delete/{id}(id=${detailMaterial.id})}">
                                        <button type="button" class="btn btn-danger" onclick="return remove()">Delete
                                        </button>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="tab2" role="tabpanel"
                 aria-labelledby="tab2">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">List Material Inactive</h4>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Code Material</th>
                                        <th>Name Material</th>
                                        <th>User Create</th>
                                        <th>User Update</th>
                                        <th>Date Create</th>
                                        <th>Date Update</th>
                                        <th>Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="listMaterialInactive, stat : ${listMaterialInactive}">
                                        <td th:text="${stat.count}"></td>
                                        <td>
                                            <a th:href="@{|/mangostore/admin/material/restore/${listMaterialInactive.id}|}"
                                               th:text="${listMaterialInactive.codeMaterial}" onclick="return restore()"
                                               style="text-decoration: none"></a>
                                        </td>
                                        <td th:text="${listMaterialInactive.nameMaterial}"></td>
                                        <td th:text="${listMaterialInactive.nameUserCreate}"></td>
                                        <td th:text="${listMaterialInactive.nameUserUpdate}"></td>
                                        <td th:text="${#temporals.format(listMaterialInactive.dateCreate, 'dd/MM/yyyy : HH:mm:ss')}"></td>
                                        <td th:text="${#temporals.format(listMaterialInactive.dateUpdate, 'dd/MM/yyyy : HH:mm:ss')}"></td>
                                        <td th:if="${listMaterialInactive.status == 0}">
                                            <label class="badge badge-danger">Stop Working</label>
                                        </td>
                                    </tr>
                                    <tr th:if="${listMaterialInactive.isEmpty()}">
                                        <td colspan="9" style="text-align: center; color: red; font-size: larger;">
                                            Material Inactive is entity
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <nav aria-label="Page navigation example" th:if="${listMaterialInactive.totalPages > 0}">
                            <ul class="pagination justify-content-center pagination-sm">
                                <li th:each="i : ${#numbers.sequence(0, listMaterialInactive.totalPages - 1)}"
                                    th:class="${i == page ? 'active' : ''}"
                                    class="page-item">
                                    <a th:href="@{/mangostore/admin/material(page=${i})}" class="page-link"
                                       th:text="${i + 1}"></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>