<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" th:replace="~{/layout/IndexAdmin :: dynamic(~{:: main})}">

<body>
<main class="checkInfoMoneyPage">
    <div>
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/mangostore/admin/sell}">Index Sell</a></li>
            <li class="breadcrumb-item active" aria-current="page">Detail Sell</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h3>Sales At The Counter</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <a type="button" id="createOrderButton" class="btn btn-success"
                               style="padding: 5px 10px;font-size: 12px;line-height: 1.5;">Create Order *</a>
                            <span style="font-size: 12px; line-height: 1.5; padding: 5px 10px; color: red">* You only create a maximum of 5
                                    invoices</span>
                            <br>
                            <th:block th:each="listInvoiceByAccount : ${listInvoiceByAccount}">
                                <a type="button" class="btn btn-light"
                                   th:href="@{/mangostore/admin/sell/edit(id=${listInvoiceByAccount.id})}">
                                    <tr>
                                        <td class="align-middle" th:text="${listInvoiceByAccount.nameInvoice}"></td>
                                    </tr>
                                </a>
                            </th:block>
                            <form th:action="@{/mangostore/admin/sell/delete}" method="post">
                                <input type="hidden" name="id" th:value="${detailInvoice.id}"/>
                                <button type="submit" class="btn btn-danger"
                                        style="padding: 5px 10px;font-size: 12px;line-height: 1.5;">Cancel Invoice
                                </button>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <form th:action="@{/mangostore/admin/sell/update-client}" method="post">
                                <div class="form-group d-flex">
                                    <input type="hidden" name="id" th:value="${detailInvoice.id}"/>
                                    <input type="text" class="form-control" placeholder="NumberPhone Client"
                                           name="numberPhoneClient">
                                    <button class="btn btn-success" type="submit" style="height: 38px">Apply</button>
                                </div>
                            </form>
                            <th:block th:if="${nameClient != null and pointClient != null}">
                                <form th:action="@{/mangostore/admin/sell/update-point}" method="post">
                                    <div class="form-group d-flex">
                                        <div class="flex-column">
                                            <input type="hidden" name="id" th:value="${detailInvoice.id}"/>
                                            <input type="hidden" name="point" th:value="${pointClient}">
                                            <input type="text" class="form-control"
                                                   th:value="${'fullName:' + nameClient + ',  customerPoints:' + pointClient}"
                                                   readonly style="width: 385px">
                                            <span>1 point = 1.000 VND</span>
                                        </div>
                                        <button class="btn btn-info" type="submit" style="height: 40px">Apply</button>
                                    </div>
                                </form>
                            </th:block>
                            <th:block th:unless="${nameClient != null and pointClient != null}">
                                <div class="form-group d-flex">
                                    <input type="text" class="form-control" value="No data" readonly>
                                </div>
                            </th:block>
                            <form th:action="@{/mangostore/admin/sell/update-voucher}" method="post">
                                <div class="form-group d-flex">
                                    <input type="hidden" name="id" th:value="${detailInvoice.id}">
                                    <select name="voucher" class="form-control">
                                        <option value="">Chọn Voucher</option>
                                        <option th:each="listVoucherClient : ${listVoucherClient}"
                                                th:value="${listVoucherClient.id}"
                                                th:text="${listVoucherClient.nameVoucher + '( ' + #numbers.formatDecimal(listVoucherClient.reducedValue, 0, 'COMMA', 0, 'POINT') + ' VND )'}"></option>
                                    </select>
                                    <button type="submit" class="btn btn-success" style="height: 39px">Apply</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal"
                                    data-target="#addProductDetail"
                                    style=" padding: 5px 10px;font-size: 12px;line-height: 1.5;">Add Product Detail
                            </button>
                        </div>
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <div class="header">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th style="width: 30px">#</th>
                                            <th style="width: 117px">NameProduct</th>
                                            <th style="width: 139px">Quantity</th>
                                            <th style="width: 130px">Price</th>
                                            <th style="width: 80px">Action</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="content" style="height: 245px">
                                    <table class="table table-hover">
                                        <tbody>
                                        <tr th:each="listInvoiceDetail, stat : ${listInvoiceDetail}">
                                            <td style="width: 30px" th:text="${stat.count}"></td>
                                            <td style="width: 117px"
                                                th:text="${listInvoiceDetail.productDetail.product.nameProduct + '(' + listInvoiceDetail.productDetail.size.nameSize + ', ' + listInvoiceDetail.productDetail.color.nameColor + ')'}"></td>
                                            <td style="width: 139px">
                                                <div class="input-group quantity mx-auto" style="width: 145px;">
                                                    <div class="input-group-btn">
                                                        <form th:action="@{/mangostore/admin/sell/reduce(id=${listInvoiceDetail.id})}"
                                                              method="post">
                                                            <button type="submit" class="reduce">-</button>
                                                        </form>
                                                    </div>
                                                    <input type="text"
                                                           style="height: 24px; width: 80px; margin-top: 4px"
                                                           th:value="${listInvoiceDetail.quantity}" readonly/>
                                                    <div class="input-group-btn">
                                                        <form th:action="@{/mangostore/admin/sell/increase(id=${listInvoiceDetail.id})}"
                                                              method="post">
                                                            <button type="submit" class="increase">+</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="width: 130px"
                                                th:text="${#numbers.formatDecimal(listInvoiceDetail.price, 0, 'COMMA', 0, 'POINT') + ' VND'}"></td>
                                            <td style="width: 80px">
                                                <form th:action="@{/mangostore/admin/sell/delete-product(id=${listInvoiceDetail.id})}">
                                                    <input type="hidden" name="id" th:value="${listInvoiceDetail.id}">
                                                    <button type="submit" class="btn btn-danger">
                                                        Delete
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h5>Invoice information</h5>
                    <div class="form-horizontal">
                        <div class="form-group" style="display: flex; align-items: center;">
                            <label class="control-label col-sm-5" style="margin: 0;">CodeInvoice:</label>
                            <div class="col-sm-7" style="margin: 0;">
                                <p class="form-control-static" th:text="${detailInvoice.codeInvoice}"
                                   style="margin: 0; color: red"></p>
                            </div>
                        </div>
                        <div class="form-group" style="display: flex; align-items: center;">
                            <label class="control-label col-sm-5" style="margin: 0;">NameInvoice:</label>
                            <div class="col-sm-7" style="margin: 0;">
                                <p class="form-control-static" th:text="${detailInvoice.nameInvoice}"
                                   style="margin: 0; color: red"></p>
                            </div>
                        </div>
                        <div class="form-group" style="display: flex; align-items: center;">
                            <label class="control-label col-sm-5" style="margin: 0;">DateCreateInvoice:</label>
                            <div class="col-sm-7" style="margin: 0;">
                                <p class="form-control-static"
                                   th:text="${#temporals.format(detailInvoice.invoiceCreationDate, 'HH:mm:ss : dd/MM/yyyy')}"
                                   style="margin: 0; color: red"></p>
                            </div>
                        </div>
                        <div class="form-group" style="display: flex; align-items: center;">
                            <label class="control-label col-sm-5" style="margin: 0;">ConversionPoint:</label>
                            <th:block th:if="${detailInvoice.customerPoints != null}">
                                <div class="col-sm-7" style="margin: 0;">
                                    <p class="form-control-static"
                                       th:text="${#numbers.formatDecimal(customerPoints, 0, 'COMMA', 0, 'POINT') + ' VND'}"
                                       style="margin: 0; color: red"></p>
                                </div>
                            </th:block>
                            <th:block th:unless="${detailInvoice.customerPoints != null}">
                                <div class="col-sm-7" style="margin: 0;">
                                    <p class="form-control-static"
                                       style="margin: 0; color: red">0 VND</p>
                                </div>
                            </th:block>
                        </div>
                        <div class="form-group" style="display: flex; align-items: center;">
                            <label class="control-label col-sm-5" style="margin: 0;">Voucher:</label>
                            <th:block th:if="${detailInvoice.voucher != null}">
                                <div class="col-sm-7" style="margin: 0;">
                                    <p class="form-control-static"
                                       th:text="${#numbers.formatDecimal(discountVouchers, 0, 'COMMA', 0, 'POINT') + ' VND'}"
                                       style="margin: 0; color: red"></p>
                                </div>
                            </th:block>
                            <th:block th:unless="${detailInvoice.voucher != null}">
                                <div class="col-sm-7" style="margin: 0;">
                                    <p class="form-control-static"
                                       style="margin: 0; color: red">0 VND</p>
                                </div>
                            </th:block>
                        </div>
                        <div class="form-group" style="display: flex; align-items: center;">
                            <label class="control-label col-sm-5" style="margin: 0;">Total Amount:</label>
                            <th:block th:if="${detailInvoice.totalInvoiceAmount != null}">
                                <div class="col-sm-7" style="margin: 0;">
                                    <p class="form-control-static"
                                       th:text="${#numbers.formatDecimal(totalInvoice, 0, 'COMMA', 0, 'POINT') + ' VND'}"
                                       style="margin: 0; color: red"></p>
                                </div>
                            </th:block>
                            <th:block th:unless="${detailInvoice.totalInvoiceAmount != null}">
                                <div class="col-sm-7" style="margin: 0;">
                                    <p class="form-control-static"
                                       style="margin: 0; color: red">0 VND</p>
                                </div>
                            </th:block>
                        </div>
                        <div class="form-group" style="display: flex; align-items: center;">
                            <label class="control-label col-sm-5" style="margin: 0;">Total Payment:</label>
                            <th:block th:if="${detailInvoice.totalPayment != null}">
                                <div class="col-sm-7" style="margin: 0;">
                                    <p class="form-control-static"
                                       th:text="${#numbers.formatDecimal(totalPayment, 0, 'COMMA', 0, 'POINT') + ' VND'}"
                                       style="margin: 0; color: red"></p>
                                </div>
                            </th:block>
                            <th:block th:unless="${detailInvoice.totalPayment != null}">
                                <div class="col-sm-7" style="margin: 0;">
                                    <p class="form-control-static"
                                       style="margin: 0; color: red">0 VND</p>
                                </div>
                            </th:block>
                        </div>
                        <div class="form-group" style="display: flex; align-items: center;">
                            <div class="col-sm-6" style="margin: 0;">
                                <a type="button" class="btn btn-info"
                                   style="padding: 5px 10px;font-size: 12px;line-height: 1.5;">BankTransfer</a>
                            </div>
                            <div class=" col-sm-6" data-toggle="modal"
                                 data-target="#cashPayment" style="margin: 0;">
                                <button type="button" class="btn btn-success"
                                        style="padding: 5px 10px;font-size: 12px;line-height: 1.5;">CashPayment
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addProductDetail" role="dialog" style="padding-left: 34px">
        <div class="modal-dialog" style="max-width: 100%; margin: 0; padding: 0;">
            <div class="modal-content" style="height: 100vh;">
                <div class="modal-header" style="padding-bottom: 6px">
                    <h4 class="modal-title">Add Product Detail</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <div class="header">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th style="width: 30px">#</th>
                                            <th style="width: 100px">ImagesProduct</th>
                                            <th style="width: 90px">NameProduct</th>
                                            <th style="width: 70px">QuantityProduct</th>
                                            <th style="width: 55px">Price</th>
                                            <th style="width: 125px">QuantityNew</th>
                                            <th style="width: 80px">Action</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="content" style="height: 494px">
                                    <table class="table table-hover">
                                        <tbody>
                                        <tr th:each="listProductDetail, stat : ${listProductDetail}">
                                            <form th:action="@{/mangostore/admin/sell/add-product(id=${listProductDetail.id})}">
                                                <input type="hidden" name="idInvoice" th:value="${detailInvoice.id}">
                                                <input type="hidden" name="idProductDetail"
                                                       th:value="${listProductDetail.id}">
                                                <td style="width: 30px" th:text="${stat.count}"></td>
                                                <td style="width: 100px">
                                                    <img th:src="@{|/image/product/${listProductDetail.imagesProductDetail}|}"
                                                         alt="image" style="width: 116px; height: 132px">
                                                </td>
                                                <td style="width: 90px; word-break: break-all"
                                                    th:text="${listProductDetail.product.nameProduct + '(' + listProductDetail.size.nameSize + ', ' + listProductDetail.color.nameColor + ')'}"></td>
                                                <td style="width: 70px"
                                                    th:text="${listProductDetail.quantity + ' pcs'}"></td>
                                                <td style="width: 55px"
                                                    th:text="${#numbers.formatDecimal(listProductDetail.price, 0, 'COMMA', 0, 'POINT') + ' VND'}"></td>
                                                <td style="width: 125px">
                                                    <div class="form-group">
                                                        <input type="number" class="form-control" name="quantityNew"
                                                               value="1">
                                                    </div>
                                                </td>
                                                <td style="width: 80px">
                                                    <button type="submit" class="btn btn-info">
                                                        <i class="bi bi-plus-circle-fill">Add</i>
                                                    </button>
                                                </td>
                                            </form>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal"
                                    style="padding: 5px 10px;font-size: 12px;line-height: 1.5;">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="cashPayment" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form id="formatInput" method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">ReturnClientMoney</label>
                                    <input type="hidden" name="id" id="idInvoice" th:value="${detailInvoice.id}">
                                    <input type="hidden" id="totalPayment" th:value="${detailInvoice.totalPayment}">
                                    <input type="text" class="form-control"
                                           placeholder="Enter Return Client Money"
                                           id="currencyInput"
                                           oninput="onInput(this.value)">
                                    <input type="hidden" name="returnClientMoney" id="output"/>
                                    <br>
                                    <div class="form-group" style="display: flex; align-items: center;">
                                        <label class="control-label col-sm-4" style="margin: 0;">Remaining
                                            Money:</label>
                                        <div class="col-sm-8" style="margin: 0;">
                                            <p class="form-control-static" id="remainingMoney"
                                               style="margin: 0; color: red"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="button" class="btn btn-default"
                                            data-dismiss="modal"
                                            style="padding: 5px 10px;font-size: 12px;line-height: 1.5;">Close
                                    </button>
                                    <button type="submit"
                                            id="saveButton" onclick="updateInvoiceStatus()"
                                            class="btn btn-primary"
                                            style="padding: 5px 10px;font-size: 12px;line-height: 1.5;">Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
</body>

</html>