<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      th:replace="~{/layout/IndexAdmin :: dynamic(~{:: main})}">
<body>
<main>
    <div>
        <ul class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Index Sell</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h3>Sales At The Counter</h3>
                    <a type="button" id="createOrderButton" class="btn btn-success">Create Order *</a>
                    <span style="font-size: 0.8em; color: red">* You only create a maximum of 5 invoices</span>
                    <br>
                    <th:block th:each="listInvoiceByAccount : ${listInvoiceByAccount}">
                        <a type="button" class="btn btn-light"
                           th:href="@{/mangostore/admin/sell/edit(id=${listInvoiceByAccount.id})}">
                            <tr>
                                <td class="align-middle" th:text="${listInvoiceByAccount.nameInvoice}"></td>
                            </tr>
                        </a>
                    </th:block>

                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>