<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      th:replace="~{/layout/IndexAdmin :: dynamic(~{:: main})}">
<body>
<main class="checkBoxDetail">
    <div class="home-tab">
        <div class="d-sm-flex align-items-center justify-content-between border-bottom">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab"
                       href="#tab1" role="tab"
                       aria-controls="tab1" aria-selected="true">Active Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#tab2"
                       aria-controls="tab2" role="tab"
                       aria-selected="false">Product Inactive</a>
                </li>
            </ul>
        </div>
        <div class="tab-content tab-content-basic">
            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1">
                <div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/mangostore/admin/product}">Index Product</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Detail Product</li>
                    </ul>
                </div>
                <div class="col-lg-12 grid-margin stretch-card container">
                    <div class="card">
                        <div class="card-body container">
                            <h4 class="font-weight-bold py-3 mb-4">
                                Update Product,
                            </h4>
                            <form th:action="@{/mangostore/admin/product/update}" th:object="${detailProduct}"
                                  method="post"
                                  onsubmit="return update()">
                                <input type="hidden" th:field="*{id}" th:value="${detailProduct.id}">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-label">CodeProduct</label>
                                            <input type="text"
                                                   class="form-control"
                                                   name="codeProduct" th:field="*{codeProduct}" readonly/>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <label class="form-label">NameProduct</label>
                                            <input type="text"
                                                   class="form-control"
                                                   name="nameProduct" th:field="*{nameProduct}"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-label">UserCreate</label>
                                            <input type="text"
                                                   class="form-control"
                                                   name="nameUserCreate" th:field="*{nameUserCreate}" readonly/>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-label">UserUpdate</label>
                                            <input type="text"
                                                   class="form-control"
                                                   name="nameUserUpdate" th:field="*{nameUserUpdate}" readonly/>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-label">DateCreate</label>
                                            <input type="text"
                                                   class="form-control"
                                                   name="dateCreate" th:field="*{dateCreate}" readonly/>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-label">DateUpdate</label>
                                            <input type="text"
                                                   class="form-control"
                                                   name="dateUpdate" th:field="*{dateUpdate}" readonly/>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-label">Status</label>
                                            <label class="switch">
                                                <input type="checkbox"
                                                       th:checked="${detailProduct.status == 1}" id="active">
                                                <span class="slider round"></span>
                                            </label>
                                            <input type="hidden" id="status" name="status">
                                        </div>
                                    </div>
                                </div>
                                <div class="text-right mt-3">
                                    <button type="submit" class="btn btn-primary">Save As</button>&nbsp;
                                    <a th:href="@{/mangostore/admin/product/delete/{id}(id=${detailProduct.id})}">
                                        <button type="button" class="btn btn-danger" onclick="return remove()">Delete
                                        </button>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="tab2" role="tabpanel"
                 aria-labelledby="tab2">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">List Product Inactive</h4>
                            <div class="table-responsive">
                                <div class="header">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th style="width: 30px">#</th>
                                            <th style="width: 114px">CodeProduct</th>
                                            <th style="width: 151px">NameProduct</th>
                                            <th style="width: 100px">UserCreate</th>
                                            <th style="width: 100px">UserUpdate</th>
                                            <th style="width: 100px">DateCreate</th>
                                            <th style="width: 100px">DateUpdate</th>
                                            <th style="width: 84px">Status</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="content" style="height: 395px">
                                    <table class="table table-hover">
                                        <tbody>
                                        <tr th:each="listProductInactive, stat : ${listProductInactive}">
                                            <td style="width: 30px" th:text="${stat.count}"></td>
                                            <td style="width: 114px">
                                                <a th:href="@{|/mangostore/admin/product/restore/${listProductInactive.id}|}"
                                                   th:text="${listProductInactive.codeProduct}"
                                                   onclick="return restore()"
                                                   style="text-decoration: none"></a>
                                            </td>
                                            <td style="width: 151px;word-break: break-all"
                                                th:text="${listProductInactive.nameProduct}"></td>
                                            <td style="width: 100px"
                                                th:text="${listProductInactive.nameUserCreate}"></td>
                                            <td style="width: 100px"
                                                th:text="${listProductInactive.nameUserUpdate}"></td>
                                            <td style="width: 100px"
                                                th:text="${#temporals.format(listProductInactive.dateCreate, 'dd/MM/yyyy : HH:mm:ss')}"></td>
                                            <td style="width: 100px"
                                                th:text="${#temporals.format(listProductInactive.dateUpdate, 'dd/MM/yyyy : HH:mm:ss')}"></td>
                                            <td style="width: 84px" th:if="${listProductInactive.status == 0}">
                                                <label class="badge badge-danger">Stop Working</label>
                                            </td>
                                        </tr>
                                        <tr th:if="${listProductInactive.isEmpty()}">
                                            <td colspan="9" style="text-align: center; color: red; font-size: larger;">
                                                Product Inactive is entity
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>