<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      th:replace="~{/layout/IndexLogin :: dynamic(~{:: main})}">
<body>
<main>
    <div class="row align-items-center">
        <div class="header-text mb-4">
            <h2>Sign Up</h2>
            <p>Please set sign up account to use the website.</p>
        </div>
        <form th:action="@{/mangostore/login/signup/success}" method="post">
            <div class="input-group mb-3">
                <input type="text" class="form-control form-control-lg bg-light fs-6" name="fullName"
                       placeholder="Enter Full Name">
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control form-control-lg bg-light fs-6" name="email"
                       placeholder="Email address">
            </div>
            <div class="input-group mb-3">
                <input type="password" class="form-control form-control-lg bg-light fs-6" name="passwordRefresh"
                       placeholder="Password">
            </div>
            <div class="input-group mb-3">
                <input type="password" class="form-control form-control-lg bg-light fs-6" name="passwordRefreshRE"
                       placeholder="RE - Password">
            </div>
            <div class="input-group mb-3">
                <button type="submit" class="btn btn-lg btn-primary w-100 fs-6">Sign Up</button>
            </div>
        </form>
        <div class="row">
            <small>Have an account? <a th:href="@{/mangostore/login/from}"
                                       style="text-decoration: none">Log In</a></small>
        </div>
    </div>
</main>
</body>
</html>