<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      th:replace="~{/layout/IndexAdmin :: dynamic(~{:: main})}">
<body>
<main id="checkBoxDetail">
    <div class="home-tab">
        <div class="d-sm-flex align-items-center justify-content-between border-bottom">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab"
                       href="#tab1" role="tab"
                       aria-controls="tab1" aria-selected="true">Active Voucher</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#tab2"
                       aria-controls="tab2" role="tab"
                       aria-selected="false">Voucher Inactive</a>
                </li>
            </ul>
        </div>
        <div class="tab-content tab-content-basic">
            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1">
                <div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/mangostore/admin/voucher}">Index Voucher</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Detail Voucher</li>
                    </ul>
                </div>
                <div class="col-lg-12 grid-margin stretch-card container">
                    <div class="card">
                        <div class="card-body container">
                            <h4 class="font-weight-bold py-3 mb-4">
                                Update Voucher,
                            </h4>
                            <form th:action="@{/mangostore/admin/voucher/update}" th:object="${detailVoucher}"
                                  method="post"
                                  onsubmit="return update()">
                                <input type="hidden" th:field="*{id}" th:value="${detailVoucher.id}">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-label">CodeVoucher</label>
                                            <input type="text"
                                                   class="form-control"
                                                   name="codeVoucher" th:field="*{codeVoucher}" readonly/>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label class="form-label">NameVoucher</label>
                                            <input type="text"
                                                   class="form-control"
                                                   name="nameVoucher" th:field="*{nameVoucher}"/>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="form-label">VoucherStatus</label>
                                            <th:block th:if="${detailVoucher.voucherStatus == 1}">
                                                <label class="badge badge-success form-control">InProgress</label>
                                            </th:block>
                                            <th:block th:if="${detailVoucher.voucherStatus == 2}">
                                                <label class="badge badge-info form-control">ComingSoon</label>
                                            </th:block>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Quantity</label>
                                            <input type="number"
                                                   class="form-control"
                                                   name="quantity" th:field="*{quantity}"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">ReducedValue</label>
                                            <input type="text"
                                                   class="form-control"
                                                   name="reducedValue" th:field="*{reducedValue}"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-label">VoucherFrom</label>
                                            <select name="voucherFrom" class="form-select">
                                                <option value="offline" th:text="offline"
                                                        th:selected="${detailVoucher.voucherFrom == 'offline'}"></option>
                                                <option value="online" th:text="online"
                                                        th:selected="${detailVoucher.voucherFrom == 'online'}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-label">Rank level to use vouchers</label>
                                            <th:block th:if="${detailVoucher.rank.status == 1}">
                                                <select name="rank" class="form-select">
                                                    <option th:each="listRank : ${listRank}" th:value="${listRank.id}"
                                                            th:text="${listRank.nameRank}"
                                                            th:selected="${detailVoucher.rank.id == listRank.id}"></option>
                                                </select>
                                            </th:block>
                                            <th:block th:unless="${detailVoucher.rank.status == 1}">
                                                <input type="text" class="form-control"
                                                       th:value="${detailVoucher.rank.id}" readonly/>
                                                <input type="hidden" name="rank" th:field="*{rank}"/>
                                                <span>Currently, the rank level does not exist</span>
                                            </th:block>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-label">StartDay</label>
                                            <input type="date"
                                                   class="form-control"
                                                   name="startDay" th:field="*{startDay}"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-label">EndDate</label>
                                            <input type="date"
                                                   class="form-control"
                                                   name="endDate" th:field="*{endDate}"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-label">UserCreate</label>
                                            <input type="text"
                                                   class="form-control"
                                                   name="userCreate" th:field="*{userCreate}" readonly/>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-label">UserUpdate</label>
                                            <input type="text"
                                                   class="form-control"
                                                   name="userUpdate" th:field="*{userUpdate}" readonly/>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-label">DateCreate</label>
                                            <input type="text"
                                                   class="form-control"
                                                   name="dateCreate" th:field="*{dateCreate}" readonly/>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-label">DateUpdate</label>
                                            <input type="text"
                                                   class="form-control"
                                                   name="dateUpdate" th:field="*{dateUpdate}" readonly/>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-label">Status</label>
                                            <label class="switch">
                                                <input type="checkbox"
                                                       th:checked="${detailVoucher.status == 1}" id="active">
                                                <span class="slider round"></span>
                                            </label>
                                            <input type="hidden" id="status" name="status">
                                        </div>
                                    </div>
                                </div>
                                <div class="text-right mt-3">
                                    <button type="submit" class="btn btn-primary">Save As</button>&nbsp;
                                    <a th:href="@{/mangostore/admin/voucher/delete/{id}(id=${detailVoucher.id})}">
                                        <button type="button" class="btn btn-danger" onclick="return remove()">Delete
                                        </button>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="tab2" role="tabpanel"
                 aria-labelledby="tab2">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">List Product Inactive</h4>
                            <div class="table-responsive">
                                <div class="header">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th style="width: 30px">#</th>
                                            <th style="width: 110px">Code</th>
                                            <th style="width: 145px">NameVoucher</th>
                                            <th style="width: 104px">Quantity</th>
                                            <th style="width: 105px">ReducedValue</th>
                                            <th style="width: 100px">VoucherFrom</th>
                                            <th style="width: 100px">Belong</th>
                                            <th style="width: 104px">StartDay</th>
                                            <th style="width: 101px">EndDate</th>
                                            <th style="width: 102px">Status</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="content" style="height: 395px">
                                    <table class="table table-hover">
                                        <tbody>
                                        <tr th:each="listVoucherInactive, stat : ${listVoucherInactive}">
                                            <td style="width: 30px" th:text="${stat.count}"></td>
                                            <td style="width: 110px">
                                                <a th:href="@{|/mangostore/admin/voucher/restore/${listVoucherInactive.id}|}"
                                                   th:text="${listVoucherInactive.codeVoucher}"
                                                   onclick="return restore()"
                                                   style="text-decoration: none"></a>
                                            </td>
                                            <td style="width: 145px;word-break: break-all"
                                                th:text="${listVoucherInactive.nameVoucher}"></td>
                                            <td style="width: 104px" th:text="${listVoucherInactive.quantity}"></td>
                                            <td style="width: 105px" th:text="${listVoucherInactive.reducedValue}"></td>
                                            <td style="width: 100px" th:text="${listVoucherInactive.voucherFrom}"></td>
                                            <td style="width: 100px"
                                                th:text="${listVoucherInactive.rank.nameRank}"></td>
                                            <td style="width: 104px"
                                                th:text="${#temporals.format(listVoucherInactive.startDay, 'dd/MM/yyyy')}"></td>
                                            <td style="width: 101px"
                                                th:text="${#temporals.format(listVoucherInactive.endDate, 'dd/MM/yyyy')}"></td>
                                            <td style="width: 102px" th:if="${listVoucherInactive.voucherStatus == 0}">
                                                <label class="badge badge-danger">Finished</label>
                                            </td>
                                            <td style="width: 102px" th:if="${listVoucherInactive.voucherStatus == 1}">
                                                <label class="badge badge-success">InProgress</label>
                                            </td>
                                            <td style="width: 102px" th:if="${listVoucherInactive.voucherStatus == 2}">
                                                <label class="badge badge-info">ComingSoon</label>
                                            </td>
                                        </tr>
                                        <tr th:if="${listVoucherInactive.isEmpty()}">
                                            <td colspan="9" style="text-align: center; color: red; font-size: larger;">
                                                Voucher Inactive is entity
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>