<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      th:replace="~{/layout/IndexClient :: dynamic(~{:: main})}">
<body>
<main class="checkPasswordClientPage updateChangePasswordPage showPassWordPage">
    <div class="container">
        <div style="height: 568px;">
            <div class="row">
                <div class="col-md-3" th:replace="~{/client/profile/IndexProfile :: detailView}"></div>
                <div class="col-md-9">
                    <h4>Change Password</h4>
                    <p>For account security, please do not share your password with others</p>
                    <hr>
                    <form th:action="@{/mangostore/change-password/update}" method="post" th:object="${profile}">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div style="display: flex; align-items: center;">
                                        <label class="control-label col-sm-3" style="margin-bottom: 0;">New
                                            Password:</label>
                                        <div class="col-sm-7">
                                            <div class="row">
                                                <div class="col-sm-9">
                                                    <label style="margin-top: 16px;">
                                                        <input type="hidden" name="id" th:field="*{id}"/>
                                                        <input type="password" id="passwordInput" class="form-control"
                                                               th:field="*{encryptionPassword}"
                                                               style="width: 350px;"/>
                                                    </label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <button type="button" class="btn btn-primary"
                                                            style="width: 139px;height: 38px;margin-top: 16px;font-size: 13px;">
                                                        Show Password
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="margin-left: 219px;">
                                        <span id="passwordError" style="font-size: 12px; display: none; color: red">Password must be 8-16 characters long, contain at least one uppercase character and one lowercase character, and include only regular letters, numbers, or punctuation</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div style="display: flex; align-items: center;">
                                        <label class="control-label col-sm-3">Confirm password:</label>
                                        <div class="col-sm-7">
                                            <label>
                                                <input type="password" class="form-control" id="confirmPasswordInput"
                                                       style="width: 350px;"/>
                                            </label>
                                        </div>
                                    </div>
                                    <div style="margin-left: 223px">
                                        <span id="confirmPasswordError"
                                              style="font-size: 12px; display: none; color: red">Password and Confirm Password are not the same</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-outline-success" id="saveButton"
                                            onclick="return UpdateChangePasswordClient()" style="margin-left: 52px;">
                                        Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>