<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      th:replace="~{/layout/IndexAdmin :: dynamic(~{:: main})}">
<body>
<main>
    <div class="home-tab">
        <div class="d-sm-flex align-items-center justify-content-between border-bottom">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab"
                       href="#tab1" role="tab"
                       aria-controls="tab1" aria-selected="true">Active Role</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#tab2"
                       aria-controls="tab2" role="tab"
                       aria-selected="false">Role Inactive</a>
                </li>
            </ul>
        </div>
        <div class="tab-content tab-content-basic">
            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">List Role Active</h4>
                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal"
                                    data-target="#myModal">Add Role
                            </button>

                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog" style="max-width: 100%; margin: 0; padding: 0;">

                                    <div class="modal-content" style="height: 100vh;">
                                        <div class="modal-body">
                                            <form th:action="@{/mangostore/admin/role/add}" th:object="${addRole}"
                                                  method="post">
                                                <div class="row justify-content-center">
                                                    <div class="col-lg-10 col-md-12">
                                                        <div class="wrapper">
                                                            <div class="row no-gutters">
                                                                <div class="col-md-7 d-flex align-items-stretch">
                                                                    <div class="contact-wrap w-100 p-md-5 p-4">
                                                                        <h3 class="mb-4">Add Role</h3>
                                                                        <div class="row">
                                                                            <div class="col-md-6">
                                                                                <div class="form-group">
                                                                                    <input type="text"
                                                                                           class="form-control"
                                                                                           name="name"
                                                                                           placeholder="Enter Code Role">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <div class="form-group">
                                                                                    <input type="text"
                                                                                           class="form-control"
                                                                                           name="note"
                                                                                           placeholder="Enter Name Role">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <div class="form-group">
                                                                                    <input type="submit"
                                                                                           value="Save"
                                                                                           class="btn btn-primary">
                                                                                    <div class="submitting"></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <div id="messageAlert" th:if="${message}" th:class="${cssClass}"
                                     th:text="${message}"></div>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Code</th>
                                        <th>Name Role</th>
                                        <th>Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="listRole, stat : ${listRole}">
                                        <td th:text="${stat.count}"></td>
                                        <td>
                                            <a th:href="@{|/mangostore/admin/role/detail/${listRole.id}|}"
                                               th:text="${listRole.name}"
                                               style="text-decoration: none">
                                            </a>
                                        </td>
                                        <td th:text="${listRole.note}"></td>
                                        <td th:if="${listRole.status == 1}">
                                            <label class="badge badge-success">Active</label>
                                        </td>
                                    </tr>
                                    <tr th:if="${listRole.isEmpty()}">
                                        <td colspan="9" style="text-align: center; color: red; font-size: larger;">
                                            Role is entity
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <nav aria-label="Page navigation example" th:if="${listRole.totalPages > 0}">
                            <ul class="pagination justify-content-center pagination-sm">
                                <li th:each="i : ${#numbers.sequence(0, listRole.totalPages - 1)}"
                                    th:class="${i == page ? 'active' : ''}"
                                    class="page-item">
                                    <a th:href="@{/mangostore/admin/role(page=${i})}" class="page-link"
                                       th:text="${i + 1}"></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="tab2" role="tabpanel"
                 aria-labelledby="tab2">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">List Role Inactive</h4>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Code</th>
                                        <th>Name Role</th>
                                        <th>Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="listRoleInactive, stat : ${listRoleInactive}">
                                        <td th:text="${stat.count}"></td>
                                        <td>
                                            <a th:href="@{|/mangostore/admin/role/restore/${listRoleInactive.id}|}"
                                               th:text="${listRoleInactive.name}"
                                               style="text-decoration: none"></a>
                                        </td>
                                        <td th:text="${listRoleInactive.note}"></td>
                                        <td th:if="${listRoleInactive.status == 0}">
                                            <label class="badge badge-danger">Inactive</label>
                                        </td>
                                    </tr>
                                    <tr th:if="${listRoleInactive.isEmpty()}">
                                        <td colspan="9" style="text-align: center; color: red; font-size: larger;">
                                            Role Inactive is entity
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <nav aria-label="Page navigation example" th:if="${listRoleInactive.totalPages > 0}">
                            <ul class="pagination justify-content-center pagination-sm">
                                <li th:each="i : ${#numbers.sequence(0, listRoleInactive.totalPages - 1)}"
                                    th:class="${i == page ? 'active' : ''}"
                                    class="page-item">
                                    <a th:href="@{/mangostore/admin/role(page=${i})}" class="page-link"
                                       th:text="${i + 1}"></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>